{% load static %}
<!doctype html>
<html lang="en">


<!--#################################################################################################################-->
<!--HEAD-->
<!--#################################################################################################################-->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="none">
    <title>Python Training</title>

    <!-- Base CSS, used by all pages -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Block for custom head references -->
    {% block head %}{% endblock head%}
</head>


<!--#################################################################################################################-->
<!--BODY-->
<!--#################################################################################################################-->
<body>
<div class="container">
    {% if messages %}
    {% include 'base/messages.html' %}
    {% endif %}
    {% block content %}
    {% endblock content%}
</div> <!-- /container -->

<!-- Block for js references -->
{% block js %}{% endblock js%}

<!-- Block for custom js references -->
{% block customjs %} {% endblock customjs %}
</body>

</html>